.AppContainer{display:grid;
              grid-gap:0;
              margin:0;
              padding: 0;
   
   }


@media(max-width:750px){
   .AppContainer{width:100%;  
                margin:0px;} 
}

/*This takes affect for screen width above 750px*/
@media (min-width: 750px) {
    
    .AppContainer{display:grid;
        grid-template-columns: 70px auto 300px;
        box-sizing:border-box;
        grid-gap:1rem;}

        .MainNav{width:100px;}

        .Home{width:auto;
              }

        .Order{width:250px;}

       


       
}
    








